@import "tailwindcss";

@media print {
  html, body {
    background: white !important;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .break-inside-avoid {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

