[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "fastapi[standard]>=0.128.6",
    "greenlet>=3.3.1",
    "psycopg[binary,pool]>=3.3.2",
    "sqlmodel>=0.0.32",
    "uvicorn>=0.40.0",
]
